<div class="container">
  <%= render partial: "layouts/progress", locals: {value: 2} %>

  <div class="top_message">
    <p>
      <%= t("Based on your information_ we have listed common OTC medicines for your symptoms_") %>
    </p>
  </div>

  <div class="top_selection_medicines">
    <div class="form-group form-group_sort_by">
      <span class="top_selection_label_sort"><%= t("Sort By_") %> </span>
      <select id="selection" class="form-inline form_sort_by">
        <option class="form-control" value="0"><%= t("Closest Match") %></option>
        <option class="form-control" value="1"><%= t("Price") %></option>
      </select>
      <span class="caret_sort_by"></span>
    </div>
  </div>
  <br>
  <hr>
  <div class="list list_medicine">
    <div class="medicine-header">
      <%= t("Acetaminophen") %>
      <div class="ingredient-id hidden">1</div>
      <div class="button_question"><div class="button_question_label">?</div></div>
      <div class="medicine-explanation"><%= t("Acetaminophen is a pain reliever and a fever reducer_ It is one of the most common drug ingredients in America_ There are more than 600 medications that contain acetaminophen_ including over the counter (OTC) and prescription (Rx) medicines_") %></div>
    </div>
    <% for i in 1..3 %>
        <div class="table">
          <div class="table-cell medicine-list_table-cell cell-medicine-image"><%= image_tag "debug.png" %></div>
          <div class="table-cell medicine-list_table-cell">
            <div class="cell-medicine-id hidden"><%= i %></div>
            <div class="cell-medicine-title"><%= t("Tylenol") %></div>
            <div class="cell-medicine-title-sub"><%= t("Tylenol") %></div>
            <div class="cell-medicine-notice"> </div>
            <div class="cell-medicine-price">$10〜15</div>
          </div>
        </div>
    <% end %>
    <br>
    <div class="medicine-header">
      <%= t("Ibuprofen") %>
      <div class="ingredient-id hidden">2</div>
      <div class="button_question"><div class="button_question_label">?</div></div>
      <div class="medicine-explanation">Ibuprofen is a ...</div>
    </div>
    <% for i in 4..6 %>
        <div class="table">
          <div class="table-cell medicine-list_table-cell cell-medicine-image"><%= image_tag "debug.png" %></div>
          <div class="table-cell medicine-list_table-cell">
            <div class="cell-medicine-id hidden"><%= i %></div>
            <div class="cell-medicine-title"><%= t("Advil") %></div>
            <div class="cell-medicine-title-sub"><%= t("Advil") %></div>
            <div class="cell-medicine-notice">* Different Direction for child under 12</div>
            <div class="cell-medicine-price">$10〜15</div>
          </div>
        </div>
    <% end %>
  </div>
</div>
