<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @medicine.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @medicine.max_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicine.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @medicine.image_url %>
</p>

<p>
  <strong>Size:</strong>
  <%= @medicine.size %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
