<p id="notice"><%= notice %></p>

<p>
  <strong>Is adult:</strong>
  <%= @patient.is_adult %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Pain:</strong>
  <%= @patient.pain %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
